.App {
}
.dashboard {
  width: 100%;
  background-color: black;
}
table {
  border: 20px solid black;
  background-color: black;
  height: 100vh;
  width: 100%;
}
tbody {
  display: block;
  border: black;
  border-collapse: separate;
  border-spacing: 40px;
  background-color: rgb(22, 25, 29);
  color: rgb(84, 86, 102);
  overflow: scroll;
  height: 90vh;
  width: 100%;
}
.navBar {
  text-align: center;
  background-color: rgb(22, 25, 29);
}
.sidebar-item {
  color: white;
}
.sidebar-item:hover {
  background-color: burlywood;
}
.search {
  color: white;
  width: 300px;
  border: 1px solid rgb(84, 86, 102);
  background-color: rgb(22, 25, 29);
}

.box-container {
  width: 100%;
  display: flex;
}

.sidebar {
  width: 20%;
  height: 100vh;
  background-color: rgb(22, 25, 29);
}

.table-title {
  width: 300px;
  color: white;
}
